
.grammar-table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

.grammar-table td, .grammar-table th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.col-aspect {
    width: 100px;
}

.col-rest {
    width: 150px;
}

.span-bold {
    font-weight: bold;
}

